// Include fonts
@include font('Gilroy', 'Gilroy-Regular');
@include font('Gilroy', 'Gilroy-Medium', 500);
@include font('Gilroy', 'Gilroy-SemiBold', 600);
@include font('Gilroy', 'Gilroy-Bold', 700);

// Size Fonts
.title-h1 {
  margin-bottom: 16px;

  color: $--gray-1;
  font-size: 56px;
  line-height: 67px;
  font-weight: 700;

  @media (max-width: $--tablet) {
    margin-bottom: 12px;

    font-size: 40px;
    line-height: 52px;
  }
}

.title-h2 {
  margin-bottom: 32px;

  color: $--gray-1;
  font-size: 40px;
  line-height: 48px;
  font-weight: 700;

  @media (max-width: $--tablet) {
    margin-bottom: 20px;

    font-size: 32px;
    line-height: 28px;
  }
}

.title-h5 {
  color: $--gray-1;
  font-size: 24px;
  line-height: 29px;
  font-weight: 600;

  @media (max-width: $--tablet) {
    font-size: 18px;
    line-height: 24px;
  }
}

.body-xlarge {
  color: $--gray-1;
  font-size: 20px;
  line-height: 30px;
  font-weight: 600;

  @media (max-width: $--tablet) {
    font-size: 17px;
    line-height: 23px;
  }
}

.body-large {
  color: $--gray-1;
  font-size: 18px;
  line-height: 27px;
  font-weight: 600;

  @media (max-width: $--tablet) {
    font-size: 16px;
    line-height: 24px;
  }
}

.body-normal {
  color: $--gray-3;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;

  @media (max-width: $--tablet) {
    font-size: 14px;
    line-height: 19px;
  }
}

.body-normal--regular {
  color: $--gray-2;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  @media (max-width: $--tablet) {
    font-size: 14px;
    line-height: 19px;
  }
}

.body-small {
  color: $--gray-3;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;

  @media (max-width: $--tablet) {
    font-size: 13px;
    line-height: 19px;
  }
}

.button-normal {
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;

  @media (max-width: $--tablet) {
    font-size: 14px;
    line-height: 19px;
  }
}

.footer__title {
  margin-bottom: 16px;

  color: $--black;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;

  @media (max-width: $--tablet) {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 22px;
  }
}
