// Colors
$--primary: #e89f71;

$--white: #fff;
$--black: #000;

// BG
$--light-bg: #f4f5f7;

// Text
$--gray-1: #3a3a3a;
$--gray-2: #616161;
$--gray-3: #898989;
$--gray-4: #b0b0b0;
$--gray-5: #d8d8d8;

// Other
$--radius: 4px;

// Media
$--large: 1400px;
$--tablet: 1050px;
$--mobile: 650px;
$--small: 375px;
$--very-small: 320px;
