

footer.footer
  .container
    .footer__info
      h5.footer__title.footer__info-title Lorem.
      p.body-normal--regular.footer__info-text Worldwide furniture store since 2020. We sell over 1000+ branded products on our website
      a(href="#" data-text="Sawojajar Malang,  Hawaii").body-normal--regular.footer__info-location
        img(src="img/location-icon.svg", alt="")
        span Sawojajar Malang,  Hawaii
      a(href="#" data-text="+6289 456 3455").body-normal--regular.footer__info-phone
        img(src="img/phone-icon.svg", alt="")
        span +6289 456 3455
      a(href="#" data-text="www.lorem.com").body-normal--regular.footer__info-link www.lorem.com 

    .footer__list
      h5.footer__title.footer__list-title Menu

      a(href="#" data-text="Footer link").body-normal.footer__list-item Products
      a(href="#" data-text="Footer link").body-normal.footer__list-item Rooms
      a(href="#" data-text="Footer link").body-normal.footer__list-item Inspirations
      a(href="#" data-text="Footer link").body-normal.footer__list-item About Us
      a(href="#" data-text="Footer link").body-normal.footer__list-item Terms & Policy
    
    .footer__list
      h5.footer__title.footer__list-title Account

      a(href="#" data-text="Footer link").body-normal.footer__list-item My Account
      a(href="#" data-text="Footer link").body-normal.footer__list-item Checkout
      a(href="#" data-text="Footer link").body-normal.footer__list-item My Cart
      a(href="#" data-text="Footer link").body-normal.footer__list-item My catalog
    
    .footer__list
      h5.footer__title.footer__list-title Stay Connected

      a(href="#" data-text="Footer link").body-normal.footer__list-item Facebook
      a(href="#" data-text="Footer link").body-normal.footer__list-item Instagram
      a(href="#" data-text="Footer link").body-normal.footer__list-item Twitter
    
    .footer__subscribe
      h5.footer__title.footer__subscribe-title Stay Updated
      form.footer__subscribe-form
        input(type="text" placeholder="Enter your email").main-input.footer__subscribe-input
        button(type="submit").btn-send.footer__subscribe-btn