header.header
  .container
    .header__logo Lorem.

    ul.header__list
      li.body-normal.header__list-item.header__list-item--drop
        span Products
        ul
          li
            a(href="#" data-text="Some") Some
          li
            a(href="#" data-text="Some") Some
      li.body-normal.header__list-item.header__list-item--drop
        span Products
        ul
          li
            a(href="#" data-text="Some") Some
          li
            a(href="#" data-text="Some") Some
      li.body-normal.header__list-item
        a(href="#" data-text="Inspirations") Inspirations 

    a(href="#" data-text="Heart").header__heart
      img(src="img/heart-icon.svg", alt="")

    a(href="#" data-text="Cart").header__cart
      img(src="img/cart-icon.svg", alt="")

    a(href="#" data-text="Avatar").header__avatar
      img(src="img/avatar.png", alt="")