extends ../layout/main

block variables
  - var title = 'Главная'

block content
  include ../sections/first
  include ../sections/feature
  include ../sections/products
  include ../sections/tips
  include ../sections/furniture